@model ContaOnline.Domain.ViewModels.ContaListViewModel

@{
    ViewData["Title"] = "Inicio";
}

<h1>Conta</h1>

<p>
    <a asp-action="Incluir">Incluir</a>
</p>

<hr />
<form method="post" class="form-horizontal">
    <label>Data Inicial</label>
    @* @Html.EditorFor(m => m.Filtro.DataInicial, new { htmlAttributes = new { @class = "form-control", @Value = @Model.Filtro.DataInicial.ToString("d") } })) *@
    <input name="Filtro.DataInicial" value="@Model.Filtro.DataInicial.ToString("d")" />

    <label>Data Final</label>
    <input name="Filtro.DataFinal" value="@Model.Filtro.DataFinal.ToString("d")" />

    <label>Conta</label>
    @Html.DropDownListFor(m => m.Filtro.ContaCorrenteId, new SelectList(Model.ContaCorrenteList, "Id", "Descricao", Model.Filtro.ContaCorrenteId), "Selecione", new { @class = "form-control" })

    <label>Categoria</label>
    @Html.DropDownListFor(m => m.Filtro.CategoriaId, new SelectList(Model.CategoriaList, "Id", "Nome", Model.Filtro.CategoriaId), "Selecione", new { @class = "form-control" })
    
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Descricao
            </th>
            <th>
                Contato
            </th>
            <th>
                Categoria
            </th>
            <th>
                Valor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ContaList)
        {
            <tr>
                <td>
                    @item.Data.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @item.Valor.ToString("c")
                </td>
                <td class="comando-tabela">
                    @Html.ActionLink("Alterar", "Alterar", new {  id=item.Id }) |
                    @Html.ActionLink("Excluir", "Excluir", new {  id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
